# Composer binary and dependencies
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Vagrant system dir
/.vagrant/

# Modules/Components installed via npm and Bower
/node_modules/
/public/bower_components/
